* {
    font-family: 'Josefin Sans', sans-serif;

}

.container {
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 1.6rem;
    background-color: #f2f0f1;
}

.products {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}

.products-heading {
    margin: 5rem 0;
}

.products-heading-text {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 300;
    color: #333;
}

.products-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product {
  position: relative;
}
.product:hover .product-description {
  opacity: 1;
  visibility: visible;
}

.product:hover .product-img {
  opacity: .5;
}
.product-img {
    width: 60%;
    transition: all 1s .5s;
}

@media (max-width: 560px) {
}
